:host {
  height: 100%;
}

.my-account-container {
  height: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  .user-ac-icon {
    width: 20px;
    vertical-align: middle;

  }
  .user-name {
    margin: 0 6px 0 6px;
    color: #fff;
    font-family: 'Montserrat SemiBold', sans-serif;
  }
  .dropdown-btn {
    color: #fff;
  }

  .toolbar-user-btn {
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 160px;
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-top: -8px;
    }



    .icon {
      width: 16px;
      height: 26px;
      color: #FFFFFF;
      transform: rotate(0);
      transition: transform .25s cubic-bezier(.25, .8, .25, 1);
    }


    &.open {
      background: rgba(0, 0, 0, .05);

      .icon {
        transform: rotate(-180deg);
      }
    }

  }

  .dropdown {
    background: white;
    z-index: 2;
    position: absolute;
    width: 100%;
    min-width: 250px;
    opacity: 0;
    visibility: hidden;
    transition: all .25s linear, max-height .25s linear, opacity .25s linear;
    margin-top: 8px;
    right: 50px;
    .dlabel {
      color: #e92b2b;
      font-size: 15px;
      font-weight: 700;
      margin-left: 15px;
    }
    .book-link {
      font-size: 13px;
      margin-left: 40px;
      color: #9d9d9d;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer !important;
      //font-weight: 600;
    }
    .logout-btn {
      font-size: 15px;
      margin-left: 17px;
      color: black;
      font-weight: bold
      //font-weight: 600;
    }

    mat-nav-list {
      padding: 10px 14px;
    }
    @media screen and (max-width: 599px) {
      min-width: 65px;

    }

    &.open {
      opacity: 1;
      visibility: visible;
      .icon2 {
        font-size: 100px;
        position: absolute;
        top: -59px;
        right: 79px;
        color: #fff;
      }
    }
  }
}

.dropdown-menu {
  .icon2 {
    font-size: 100px;
    position: absolute;
    top: -59px;
    right: 79px;
    color: #fff;
  }
  .booking-menu {
    padding: 11px 22px 0px 16px !important;
    border-bottom: #e4e4e4 1px solid;
    .notify-count {
      position: relative;
      top: -17px;
      right: 5px;
      .mat-badge-content {
        color: white;
        background: #fe0000;
      }
    }
    ::ng-deep .mat-badge {
      font-size: 10px !important;
    }
  }
  .my-stuff, .settings {
    padding: 11px 22px 0px 16px !important;
    border-bottom: #e4e4e4 1px solid;
  }
  .logout {
    padding: 11px 22px 0px 16px !important;
    .in-icon {
      margin-top: 7px;
    }
  }
  .in-icon {
    color: rgba(254, 0, 0, 0.53);
    vertical-align: middle;
    img {
      width: 18px;
    }
  }
  .dlabel {
    color: #e92b2b !important;
    font-size: 15px;
    font-weight: 700;
    margin-left: 15px;
  }
  .dbtn {
    line-height: 35px !important;
    height: 35px !important;
    a {
      text-decoration: none;
    }
  }
  .logout-btn {
    font-weight: 900;
    color: #000000;
    font-size: 1.1em;
  }
  .book-link {
    font-size: 13px;
    color: #9d9d9d;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer !important;
    //font-weight: 600;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  ::ng-deep .my-account-menu+*.cdk-overlay-pane {
    position: absolute !important;
    top: -44px;
    right: 0px;
  }
}

::ng-deep .mat-menu-panel {
  min-width: 100%;
  overflow: unset !important;
  -webkit-overflow-scrolling: touch;
  border-radius: 2px;
}

::ng-deep .my-account-menu+*.cdk-overlay-connected-position-bounding-box {
  top: 100px !important;
  left: 0px;
  height: 100%;
  width: 100%;
}

.my-account-menu+*.cdk-overlay-pane {
  position: absolute !important;
  z-index: 1000;
  display: flex;
  pointer-events: auto;
  top: -3px;
  right: 22px;
}
