@import "../../@theme/styles/variables";
.change-password-sec{
  background-color: $bg-color;
  .change-password{
    h3{
      margin-left: 0;
      font-size: 18px;
      padding: 22px 0;
      font-family: $font-family-semiBold;
      color: #001731 !important;
    }
    .change-pwd-box{
      background-color: #FFFFFF;
      .form-header{
        margin-top: 30px;
        font-weight: bolder;
        font-size: 22px;
      }
      .form-in{
        margin-top: 30px;
        form{
          .mat-form-field, .update-btn{
            width: 100%;
          }
          .mat-form-field{
            margin-bottom: 15px;
          }
          .update-btn{
            background-color: #00aa01;
            color: #FFFFFF;
            margin-bottom: 20px;
          }
          .mat-error{
            float: right;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .change-password-sec{
    background-color: #FFFFFF !important;
    .mat-elevation-z1 {
      box-shadow: unset !important;
    }
  }
}
