<div class="theme-container change-password-sec">
  <div class="hd-container change-password">
    <div class="profile-header"><h3>Profile details</h3></div>
    <div class="profile-container mb20" fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column"
         fxLayoutAlign="start stretch"  fxLayoutGap="4%" fxLayoutGap.lt-sm="0">

      <div fxFlex="18%">
        <app-sidemenu></app-sidemenu>
      </div>
      <div class="change-pwd-box" fxFlex.lg="60%" fxFlex.md="60%"
           fxFlex.sm="100%">
        <div fxFlex class="form-component-holder mat-elevation-z1">
          <h3 class="form-header" fxLayoutAlign="center" fxHide fxShow.gt-sm="true">Change your Password</h3>
          <div class="form-in" fxLayoutAlign="center end">
            <form [formGroup]="registrationFormGroup" (ngSubmit)="changePassword()" fxLayout="column" fxFlex="80%" fxFlex.lt-sm="95">
              <div class="alert alert-success" *ngIf="successMsg">
                <strong>Success!</strong> Your password has been updated successfully
              </div>
              <div class="alert alert-danger" *ngIf="errorMsg">
                <strong>Error!</strong> Incorrect Old Password
              </div>
              <div class="alert alert-danger" *ngIf="message">
                <strong>Error!</strong> {{message}}
              </div>
              <mat-form-field>
                <input matInput placeholder="Old Password" [type]="hide ? 'password' : 'text'"
                       formControlName="oldPasswd"
                       autocomplete="off" oncopy="return false" onpaste="return false" oncut="return false">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="registrationFormGroup.controls['oldPasswd'].hasError('required')"> Enter your
                  password
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'"
                       formControlName="usrPassword" minlength="8" autocomplete="off" oncopy="return false" onpaste="return false" oncut="return false">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="registrationFormGroup.controls['usrPassword'].hasError('minlength')"> Password should
                  be
                  min 8 Chars.
                </mat-error>
                <mat-error *ngIf="registrationFormGroup.controls['usrPassword'].hasError('maxlength')"> Password should
                  be max 20 Chars.
                </mat-error>
                <mat-error *ngIf="registrationFormGroup.controls['usrPassword'].hasError('required')"> Enter your
                  password
                </mat-error>
              </mat-form-field>


              <mat-form-field>
                <input matInput placeholder="Confirm New Password" [type]="hide ? 'password' : 'text'"
                       formControlName="repeatPassword" autocomplete="off"  oncopy="return false" onpaste="return false" oncut="return false">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="registrationFormGroup.controls['repeatPassword'].hasError('required')"> Enter your
                  password
                </mat-error>
                <mat-error *ngIf="registrationFormGroup.controls['repeatPassword'].hasError('NoPassswordMatch')">
                  Passwords
                  do not match.
                </mat-error>
              </mat-form-field>
              <!--<button class="update-btn"  [disabled]="!registrationFormGroup.valid" >Update Password</button>-->
              <button mat-flat-button type="submit" class="btn primary update-btn" [disabled]="registrationFormGroup.invalid || loading">{{ loading ? 'PLEASE WAIT...' : 'Update Password' }}</button>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

