<app-breadcrumb class="breadcrumb"></app-breadcrumb>
<div fxLayout="column" class="promotion-show-sec components-container">
  <div class="table-header">
    <div class="header-sec">Decode</div>

    <div fxLayout="row" fxLayoutAlign="end end">
      <div fxFlex="70" class="table-search-field">
        <mat-form-field>
          <input class="search-field" matInput (keyup)="applyFilter($event.target.value)"
                 placeholder="Search by Description" autocomplete="off">
        </mat-form-field>
      </div>
      <div fxFlex="30">
      <span>
        <button class="add-new-btn" mat-flat-button routerLink="/venue/decode/create">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          Add New
        </button>
      </span>
      </div>
    </div>

    <button class="mine m-addbtn" mat-mini-fab routerLink="/venue/decode/create">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  </div>

  <div fxFlex class="table-component-holder mat-elevation-z1">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
       
        <!-- Type of amenities-->
        <ng-container matColumnDef="dcdeTypeDet" style="width: 10%">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let row">{{row.dcdeTypeDet}}</td>
        </ng-container>

        <!-- Header -->
         <ng-container matColumnDef="dcdeHdr" style="width: 12%; -ms-flex-item-align: center;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Header</th>
          <td mat-cell *matCellDef="let row"> {{row.dcdeHdr}}</td>
        </ng-container>

        <!-- Description -->
        <ng-container matColumnDef="dcdeDet" style="width: 15%; -ms-flex-item-align: center;">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let row"> {{row.dcdeDet}}</td>
        </ng-container>

       <!-- sequence-->
        <ng-container matColumnDef="dcdeSeq" style="width: 10%">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sequence</th>
          <td mat-cell *matCellDef="let row">{{row.dcdeSeq}}</td>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="dcdeAct" style="width: 10%">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let row">
            <mat-chip-list>
              <span *ngIf="row.dcdeAct == 1;"> <span style="color: green">Active</span></span>
              <span *ngIf="row.dcdeAct != 1;"> <span style="color: #FE0000">De-active</span></span>
            </mat-chip-list>
          </td>
        </ng-container>

        <!-- Action -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="width: 8%">
            Action
          </th>
          <td mat-cell *matCellDef="let row;">
            <a mat-icon-button color="accent" 
            routerLink="/venue/decode/edit/{{row.prdctDetId}}/{{row.dcdeId}}">
              <mat-icon aria-label="Edit">edit</mat-icon></a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
  </div>

</div>
