<div class="close-btn" title="Close" fxHide.xs fxHide.sm><img (click)="closeModalDialog()" class="close-icon" src="../../../../../assets/images/icons/close-btn.svg"></div>

<div class="container hd-forgot">
  <div class="forgot-container" fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column"
       fxLayoutAlign="center"  fxLayoutGap="">
    <div class="forgot-pwt-left" fxFlex="45" fxFlex.sm="100%" fxLayoutAlign="center" fxHide fxShow.gt-sm>
      <div class="forgot-in-left">
        <img style="width: 180px;margin-top: 50px;" mat-card-image src="../../../assets/images/icons/hd-forgot-password.png" alt="HallsDiary">
      </div>
    </div>



    <div class="forgot-pwt-right" fxFlex="55" fxFlex.sm="100%">
      <div class="forgot-in-right">
        <div>
          <span  fxHide.lg="true" fxHide.md="true">
            <img (click)="closeModalDialog()" class="back-btn" src="../../../../assets/images/icons/back.svg">
          </span>
          <span class="forgot-header">Reset your Password</span>
        </div>
        <div class="m-forgot-img" fxHide.lg fxHide.md>
          <img class="forgot-img"  mat-card-image src="../../../assets/images/icons/hd-forgot-password.png"
               alt="HallsDiary">
        </div>
          <div style="color: red; margin-top: 30px;" *ngIf="data === 'WRONG'">{{"Invalid email id.! Try again with valid e-mail id"}}</div>
          <div class="forgot-box">
            <form class="form-inline" [formGroup]="forgotForm" (ngSubmit)="forgotPassword()" fxLayout="column">
             <div class="form-field">
               <mat-form-field
                 [hideRequiredMarker]="forgotForm.value.hideRequired"
                 [floatLabel]="forgotForm.value.floatLabel">
                 <input matInput formControlName="forgotEmailId" placeholder="Email"
                        autocomplete="off">
                 <mat-error *ngIf="forgotForm.controls['forgotEmailId'].errors?.required">Enter your email address
                 </mat-error>
                 <mat-error *ngIf="forgotForm.controls['forgotEmailId'].hasError('invalidEmail')">Invalid email address
                 </mat-error>
                 <mat-error *ngIf="forgotForm.controls['forgotEmailId'].hasError('maxlength')">Email should be max
                   60 chars.
                 </mat-error>
               </mat-form-field>
             </div>
              <button mat-flat-button type="submit" class="mt20 reset-btn" [disabled]="forgotForm.invalid || loading">{{ loading ? 'PLEASE WAIT...' : 'Reset Password' }}</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
