@import "../../@theme/styles/variables";

::ng-deep .forgot-password-dialog {
  position: relative !important;
  font-family: $font-family;
  .close-icon {
    position: absolute;
    top: -50px;
    right: 15px;
    width: 38px !important;
    cursor: pointer;
  }

  ::ng-deep .mat-dialog-container {
    padding: 0 !important;
  }
  .mat-tab-group, .log-in-left {
    padding: 20px 30px !important;
  }

  .mat-tab-group {
    border-left: #e8e8e8 1px solid;
  }

}

/* dialog box background color custom for material */
::ng-deep.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.82) !important;
}


.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}


.hd-forgot {
 & * { font-family: $font-family !important;}
  .forgot-container {
    .forgot-pwt-left {
      float: left;
    }

    .forgot-pwt-right {
      float: right;
    }

  }

  .forgot-in-right, .log-in-left {
    padding: 20px 30px !important;
  }

  .forgot-in-right {
    border-left: #e8e8e8 1px solid;
  }

  .forgot-header {
    color: #7F30C8;
    text-align: center;
    font-weight: $font-weight;
    margin-bottom: 35px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.4em 0 0.7em 0 !important;
  }

  ::ng-deep .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.7) !important;
  }

  .reset-btn {
    margin: 30px 0 55px 0;
    padding: 4px 20px;
    letter-spacing: 1px;
    border-radius: 0;
    background-color: #00aa01;
    color: white;
    font-weight: $font-weight;
  }

  .close-btn {
    position: fixed;
    top: 50px;
    right: 145px;
    width: 45px;
  }


  .form-inline {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 30px;
    .mat-form-field{
      width: 100%;
    }
  }

  @media (max-width: 960px) {
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }
}



.log-in-left .lgn-header {
  color: #556B7F;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

@media only screen and (max-width: 960px) {
  ::ng-deep.forgot-password-dialog {
    max-width: 100% !important;
    height: 100% !important;
    width: 100% !important;

    .hd-forgot {
      .forgot-in-right{
        margin-top: 30px !important;
      }
      .forgot-pwt-right {
        width: 100% !important;
      }

      .back-btn {
        width: 20px;
      }

      .forgot-header {
        margin-left: 40px;
        font-size: 20px !important;
        font-weight: bold;
      }
      .m-forgot-img {
        text-align: center;
        .forgot-img {
          padding: 10px;
          width: 80px;
          margin-bottom: 22px;
        }
      }
      ::ng-deep .cdk-overlay-pane {
        width: 98% !important;
        max-width: 98vw !important;
      }

      .mat-tab-group {
        padding: 15px 15px !important;
      }
    }
  }


}
