<div class="about-container">
  <div class="bg-color"></div>
  <div class="theme-container">
    <div class="hd-container pos-top">
        <div fxLayout="column" fxLayoutAlign="space-between center" class="mat-elevation-z1">
          <div class="abt-content">
            <div class="abt-header">About Us</div>
            <div class="inner-cnt">
              <div *ngFor="let aboutUs of aboutUsData">
                <div class="abt-cnt"><span [innerHTML]="aboutUs.abtUsDet"></span></div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>

