<app-breadcrumb class="breadcrumb"></app-breadcrumb>
<div fxLayout="column" class="facilities-show-sec components-container">
    <div class="table-header">
      <div class="header-sec">Facilities</div>
  
      <div fxLayout="row" fxLayoutAlign="end end">
        <div fxFlex="70" class="table-search-field">
          <mat-form-field>
            <input class="search-field" matInput (keyup)="applyFilter($event.target.value)"
                   placeholder="Search by Description" autocomplete="off">
          </mat-form-field>
        </div>
        <div fxFlex="30">
        <span>
          <button class="add-new-btn" mat-flat-button routerLink="/venue/facilities/create">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            Add New
          </button>
        </span>
        </div>
      </div>
  
      <button class="mine m-addbtn" mat-mini-fab routerLink="/venue/facilities/create">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </div>

    <div fxFlex class="table-component-holder mat-elevation-z1">
      <div class="table-container">
    <mat-table [dataSource]="dataSource" matSort>

       <!-- Hall Name -->
       <ng-container matColumnDef="hallName">
        <mat-header-cell *matHeaderCellDef class="width25">Hall Name</mat-header-cell>
        <mat-cell *matCellDef="let row" class="width25" ngClass.sm="width100" ngClass.xs="width100" data-label="Header: ">{{row.hallName}} </mat-cell>
      </ng-container>

      <!-- Category -->
      <ng-container matColumnDef="facName">
        <mat-header-cell *matHeaderCellDef class="width25">Category</mat-header-cell>
        <mat-cell *matCellDef="let row" class="width25" ngClass.sm="width100" ngClass.xs="width100" data-label="Category: "> {{row.facName}}</mat-cell>
      </ng-container>

       <!-- Description -->
       <ng-container matColumnDef="facSpec">
        <mat-header-cell *matHeaderCellDef class="width25">Description</mat-header-cell>
        <mat-cell *matCellDef="let row" class="width25" ngClass.sm="width100" ngClass.xs="width100" data-label="Description: "> {{row.facSpec}}</mat-cell>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="facAct">
        <mat-header-cell *matHeaderCellDef class="width10">Status</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" class="width10" ngClass.sm="width100" ngClass.xs="width100" data-label="Status: ">
          <span *ngIf="row.facAct === 1;">
              <span style="color: green">Active</span>
            </span>
          <span *ngIf="row.facAct !== 1;">
              <span style="color: #FE0000">De-active</span>
            </span>
        </mat-cell>
      </ng-container>

      <!-- Action -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="width10">
          Action
        </mat-header-cell>
        <mat-cell *matCellDef="let row;" class="width10" ngClass.sm="width100" ngClass.xs="width100" data-label="Action: ">
            <span>
                <a mat-icon-button color="accent" 
                [routerLink]= "['/venue/facilities/edit']" 
                [queryParams]="{prdctDetId: row.prdctDetId, hallId: row.subPrdctDetId, facId: row.facId, attrId: row.attrId}" >
                <mat-icon aria-label="Edit" class="edit-btn">edit</mat-icon></a>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
</div>
