<div class="container booking-menu"
     fxLayout="row wrap"
     fxLayoutAlign="start stretch"
     fxLayoutGap="70px"
     fxLayoutGap.xs="0">
  <a fxFlex.lt-sm="50" class="item item-1" routerLink="/booking/my-booking" [routerLinkActive]="'active_menu'">My Bookings <i matBadge="0" matBadgeColor="warn" class="far fa-bell" aria-hidden="true"></i></a>
  <a fxFlex.lt-sm="50" class="item item-2" routerLink="/booking/my-reservations" [routerLinkActive]="'active_menu'"> My Reservations <i matBadge="0" matBadgeColor="warn" class="far fa-bell" aria-hidden="true"></i></a>
  <a fxFlex.lt-sm="50" class="item item-2" routerLink="/booking/historical-bookings" [routerLinkActive]="'active_menu'">Historical Bookings </a>
  <a fxFlex.lt-sm="50" class="item item-2" routerLink="/booking/historical-reservations" [routerLinkActive]="'active_menu'">Historical Reservations</a>
</div>

<!--<div class="container booking-menu"-->
<!--     fxLayout="row"-->
<!--     fxLayout.xs="column"-->
<!--     fxLayoutAlign="start stretch"-->
<!--     fxLayoutGap="70px"-->
<!--     fxLayoutGap.xs="0">-->
<!--  <a class="item item-1" routerLink="/booking/my-booking" [routerLinkActive]="'active_menu'">My Bookings <i matBadge="0" matBadgeColor="warn" class="far fa-bell" aria-hidden="true"></i></a>-->
<!--  <a class="item item-2" routerLink="/booking/my-reservations" [routerLinkActive]="'active_menu'"> My Reservations <i matBadge="0" matBadgeColor="warn" class="far fa-bell" aria-hidden="true"></i></a>-->
<!--  <a class="item item-2" routerLink="/booking/historical-bookings" [routerLinkActive]="'active_menu'">Historical Bookings </a>-->
<!--  <a class="item item-2" routerLink="/booking/historical-reservations" [routerLinkActive]="'active_menu'">Historical Reservations</a>-->
<!--</div>-->



