.breadcrumb {
  padding: 8px 0;
  box-shadow: none;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #556B7F !important;
  a, span {
    font-size: 13px;
    text-decoration: none;
    color: inherit;
  }
  .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    padding: 0 6px;
    opacity: 0.7;
  }
  .breadcrumb-title.active {
    //text-transform: uppercase;
    background-color: transparent;
    color: #556B7F !important;
  }
  .breadcrumb-item + .breadcrumb-item:before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    content: "»";
  }
}
.light-block.mat-card {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
}
