<div class="feedback-container">
<div class="theme-container">
  <div class="hd-container">
    <h3 class="fb-header-1">Feedback</h3>
    <div class=" mat-elevation-z1 mb30">
      <div class="" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="">

        <div class="feed-header">
          <div class="fb-header">Write review about the site and helps us to Improve</div>
        </div>
        <div class="fb-form">
          <div class="alert alert-danger" *ngIf="data === 'FAILURE'">
            <strong>Error!</strong> Oops! Something went wrong. Please try again later
          </div>
          <div class="alert alert-danger" *ngIf="data === 'ERROR'">
            <strong>Error!</strong> Oops! Something went wrong. Please try again later
          </div>
          <div class="fb-label lb1">All fields are mandatory</div>
          <form class="feedback-form" [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">

            <div class="form mb20">
              <mat-form-field [floatLabel]="feedbackForm.value.floatLabel">
                <input matInput formControlName="rvwTitle" placeholder="Review Title" maxlength="30">
                <mat-hint class="req-label" align="end">(Maximum 30 characters)</mat-hint>
                <mat-error *ngIf="feedbackForm.controls['rvwTitle'].hasError('required')">Enter your Review title
                </mat-error>
                <mat-error *ngIf="feedbackForm.controls['rvwTitle'].hasError('minlength')">Maximum 30 characters
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form mb30" >
              <div class="label"><label class="rt-lbl">Your Review</label></div>
              <div class="review-field">
                <div class="fb-label-2">
                  <div class="lable-content"><b>Please do not include</b>: HTML, references to other retailers, pricing,
                    personal information, any profane, inflammatory or copyrighted comments, or any copied content
                  </div>
                </div>
                <mat-form-field [floatLabel]="feedbackForm.value.floatLabel" class="review-field" hintLabel="Max 200 characters">
                  <textarea matInput #input formControlName="rvwBody"  maxlength="200"></textarea>
                  <mat-error *ngIf="feedbackForm.controls['rvwBody'].hasError('required')">Enter your Review
                  </mat-error>
                  <mat-error *ngIf="feedbackForm.controls['rvwBody'].hasError('minlength')">Min 60 chars required!
                  </mat-error>
                  <mat-hint align="end">{{input.value?.length || 0}}/200</mat-hint>
                  <!--<mat-hint class="req-label" align="end">(Please make sure review contains maximum 200 characters)-->
                  <!--</mat-hint>-->
                </mat-form-field>
              </div>
            </div>
            <div class="form mb20"  fxLayout="row"  fxLayout.xs="column"
                 fxLayout.sm="column" fxLayoutGap="">
              <div class="rating-box" fxFlex="40%" [ngStyle.xs]="{'max-width.%': 100}" [ngStyle.sm]="{'max-width.%': 100}" [ngStyle.md]="{'max-width.%': 40}" [ngStyle.lg]="{'max-width.%': 40}">
                <div class="label"><label class="rt-lbl">Your Rating</label></div>

                <fieldset class="rating">
                  <span class="fb-label-4">{{rvwRating}}/5</span>
                  <input type="radio" formControlName="rvwRating" [checked]="rvwRating===5"/>
                  <label title="Excellent!" (click)='onClick(5)'>5 stars</label>

                  <input type="radio" formControlName="rvwRating" [checked]="rvwRating===4"/>
                  <label title="Good" (click)='onClick(4)'>4 stars</label>

                  <input type="radio" formControlName="rvwRating" [checked]="rvwRating===3"/>
                  <label title="Average" (click)='onClick(3)'>3 stars</label>

                  <input type="radio" formControlName="rvwRating" [checked]="rvwRating===2"/>
                  <label title="Low" (click)='onClick(2)'>2 stars</label>

                  <input type="radio" formControlName="rvwRating" [checked]="rvwRating===1"/>
                  <label title="Poor" (click)='onClick(1)'>1 star</label>

                </fieldset>
                <div class="rt-label"> <mat-hint class="req-label" align="end">(Click to rate on scale of 1-5)
                </mat-hint></div>
              </div>
              <div class="name-field" fxFlex="60%" [ngStyle.xs]="{'max-width.%': 100}" [ngStyle.sm]="{'max-width.%': 100}" [ngStyle.md]="{'max-width.%': 60}" [ngStyle.lg]="{'max-width.%': 60}">
                <mat-form-field>
                  <input matInput type="text" formControlName="rvwName" placeholder="Your Full Name" maxlength="20">
                  <mat-error *ngIf="feedbackForm.controls['rvwName'].hasError('required')">Enter your full name
                  </mat-error>
                  <mat-error *ngIf="feedbackForm.controls['rvwName'].hasError('maxLength')">maximum 20 characters
                  </mat-error>
                  <mat-hint class="req-label" align="end">(First and last name - max 20 characters)</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div>
              <button mat-raised-button class="btn btn-primary fb-submit-btn" color="primary">SUBMIT</button>
            </div>
          </form>
        </div>

<!--        <div class="feed-header">-->
<!--          <div class="fb-header">What makes a good review</div>-->
<!--        </div>-->
<!--        <div class="review-content">-->
<!--          <div class="mb10">-->
<!--            <div class="rc-header">Educate your readers</div>-->
<!--            <div class="rc-txt">Provide a relevant, unbiased overview of the product. Readers are interested in the pros and the cons of the product.</div>-->
<!--          </div>-->

<!--          <div class="mb10">-->
<!--            <div class="rc-header">Be yourself, be informative</div>-->
<!--            <div class="rc-txt">Let your personality shine through, but it's equally important to provide facts to back up your opinion.</div>-->
<!--          </div>-->


<!--          <div class="mb10">-->
<!--            <div class="rc-header">Get your facts right!</div>-->
<!--            <div class="rc-txt">Nothing is worse than inaccurate information. If you're not really sure, research always helps.</div>-->
<!--          </div>-->

<!--          <div class="mb10">-->
<!--            <div class="rc-header">Stay concise</div>-->
<!--            <div class="rc-txt">Be creative but also remember to stay on topic. A catchy title will always get attention!</div>-->
<!--          </div>-->
<!--          <div class="mb10">-->
<!--            <div class="rc-header">Easy to read, easy on the eyes</div>-->
<!--            <div class="rc-txt">A quick edit and spell check will work wonders for your credibility. Also, break reviews into small, digestible paragraphs.</div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
</div>
