<div fxLayout="column" class="form-container-sec components-container">
    <app-breadcrumb class="breadcrumb"></app-breadcrumb>
    <div class="form-container"  fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutAlign="start space-between"
           fxLayoutGap="10px">
          <div fxFlex class="bg-white form-component-holder mat-elevation-z1">
  
            <div class="container">
              <form [formGroup]="eventsForm" (ngSubmit)="updateItems()" fxLayout="column" fxFlex="100">
                <div class="table-header">
                  <h1 class="mat-headline center-align">Add Events</h1>
                </div>
                
                <div class="form">
                    <mat-form-field>
                      <mat-select formControlName="subPrdctDetId" placeholder="Select Hall" required>
                        <mat-option [value]="0"> All Halls </mat-option>
                        <mat-option *ngFor="let halls of hallList" [value]="halls.subPrdctDetId">
                          {{halls.dcdeHdr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
    
              <div class="form">
                  <mat-form-field>
                    <input matInput #input formControlName="evtHdr" placeholder="Event Name" required>
                  </mat-form-field>
                </div>
  
                <div class="form">
                  <mat-form-field>
                    <mat-select formControlName="evtShwFor" placeholder="Event Allowed For" required>
                      <mat-option *ngFor="let type of displayDays" [value]="type.value">
                        {{type.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="eventsForm.controls['evtShwFor'].hasError('required')">Select Anyone</mat-error>
                  </mat-form-field>
                </div>
  
                <div class="form">
                  <mat-form-field>
                    <mat-select formControlName="evtSeq" placeholder="Display Sequence" required>
                      <mat-option *ngFor="let sequence of displaySequence" [value]="sequence.value">
                        {{sequence.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="eventsForm.controls['evtSeq'].hasError('required')">Select Anyone</mat-error>
                  </mat-form-field>
                </div>
  
                <div class="form">
                    <mat-form-field>
                      <mat-select formControlName="evtAct" placeholder="Is Active" required >
                        <mat-option *ngFor="let status of displayStatus" [value]="status.value">
                          {{status.viewValue}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="eventsForm.controls['evtAct'].hasError('required')">Select Anyone</mat-error>
                    </mat-form-field>
                </div>
  
                <div class="form" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  
                  <div fxFlex="50" fxFlex.xs="100">
                    <re-captcha formControlName="captcha" [required]="true"></re-captcha>
                    <div *ngIf="submitted && f.captcha.errors" class="invalid-feedback">
                      <div *ngIf="f.captcha.errors.required">Recaptcha requires verification.
                      </div>
                    </div>
                  </div>
  
  
                  <div fxFlex="50" fxFlex.xs="100" class="action-btn">
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="end center" fxLayoutAlign.sm="space-around center"
                         fxLayoutAlign.xs="space-around center">
                      <button mat-raised-button class="save-btn">Update</button>
                      <button mat-raised-button class="cancel-btn" (click)="goBack()">Cancel</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
    
  