<div fxLayout="column" class="form-container-sec components-container">
  <app-breadcrumb class="breadcrumb"></app-breadcrumb>
  <div class="form-container"  fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutAlign="start space-between"
         fxLayoutGap="10px">
        <div fxFlex class="bg-white form-component-holder mat-elevation-z1">

          <div class="container">
            <form [formGroup]="hourlyForm" (ngSubmit)="updateItems()" fxLayout="column" fxFlex="100">
              <div class="table-header">
                <h1 class="mat-headline center-align">Add Hourly Tariff</h1>
              </div>

              <!-- Hall Name -->
              <div class="form">
                <mat-form-field>
                  <mat-select formControlName="subPrdctDetId" placeholder="Hall Name" required>
                    <mat-option *ngFor="let index of hallInfo" [value]="index.subPrdctDetId">{{index.dcdeHdr}} </mat-option>
                  </mat-select>
                  <mat-error *ngIf="hourlyForm.controls['subPrdctDetId'].hasError('required')">Select Anyone</mat-error>
                </mat-form-field>
              </div>
                
              <!-- Hourly Rent per hour -->
              <div class="form">
                <mat-form-field>
                  <input matInput #input formControlName="adnlDurTar" placeholder="Rent Per Hour" required>
                  <mat-error *ngIf="hourlyForm.controls['adnlDurTar'].hasError('required')">Enter Hourly Rent</mat-error>
                </mat-form-field>
              </div>
              <!-- Status -->  
              <div class="form">
                <mat-form-field>
                  <mat-select formControlName="adnlDurAct" placeholder="Is Active" required>
                    <mat-option *ngFor="let status of displayStatus" [value]="status.value">
                      {{status.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="hourlyForm.controls['adnlDurAct'].hasError('required')">Select Anyone</mat-error>
                </mat-form-field>
              </div>

              <div class="form" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <div fxFlex="50" fxFlex.xs="100">
                  <re-captcha formControlName="captcha" [required]="true"></re-captcha>
                  <div *ngIf="submitted && f.captcha.errors" class="invalid-feedback">
                    <div *ngIf="f.captcha.errors.required">Recaptcha requires verification.
                  </div>
                  </div>
              </div>

              <div fxFlex="50" fxFlex.xs="100" class="action-btn">
                <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="end center" fxLayoutAlign.sm="space-around center"
                    fxLayoutAlign.xs="space-around center">
                  <button mat-raised-button class="save-btn">Add</button>
                  <button mat-raised-button class="cancel-btn" (click)="goBack()">Exit</button>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
  </div>
</div>
  
