//$font-family: Roboto, sans-serif;
//$theme-max-width: 1300px;

$font-family: Montserrat, sans-serif;
$font-family-semiBold: Montserrat SemiBold, sans-serif;
$theme-max-width: 1300px;
$primary: #7F30C8;
$bg-color: #F8F8F8;
$font-weight: bold;
