<div fxLayout="column" class="form-container-sec components-container">
    <app-breadcrumb class="breadcrumb"></app-breadcrumb>
    <div class="form-container"  fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutAlign="start space-between"
           fxLayoutGap="10px">
          <div fxFlex class="bg-white form-component-holder mat-elevation-z1">
  
            <div class="container">
              <form [formGroup]="buffetForm" (ngSubmit)="updateItems()" fxLayout="column" fxFlex="100">
                <div class="table-header">
                  <h1 class="mat-headline center-align">Add Buffet Master</h1>
                </div>
  
                <!-- Food Type Selection -->
                <div class="form">
                    <mat-form-field>
                      <mat-select formControlName="fdTypId" placeholder="Select FoodType">
                        <mat-option [value]='0'>--Select--</mat-option>
                        <mat-option *ngFor="let items of foodItems" [value]="items.fdTypId">
                          {{items.fdTypHdr}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="buffetForm.controls['fdTypId'].hasError('required')">Select Anyone</mat-error>
                    </mat-form-field>
                </div>
                
                <!-- Buffet Description -->
                <div class="form">
                    <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column" fxLayoutAlign="center"
                         class="widgetHolder ">
                      <quill-editor #disciplineQE id="discipline-qe"
                                    formControlName="buffDesc" style=" min-height: 170px;" placeholder="Description"
                                    [required]="true"
                                    [ngClass]="{ 'is-invalid': submitted && f.buffDesc.errors }"></quill-editor>
    
                      <div *ngIf="submitted && f.buffDesc.errors" class="invalid-feedback">
                      <div *ngIf="f.buffDesc.errors.required">Enter Description
                        </div>
                      </div>
                    </div>
                  </div> 
                  
                  <!-- Complement Items / Add on Menu -->
                  <div class="form">
                      <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxLayout="column" fxLayoutAlign="center"
                           class="widgetHolder ">
                        <quill-editor #disciplineQE id="discipline-qe"
                                      formControlName="buffComp" style=" min-height: 170px;" placeholder="Complement Items"
                                      [required]="true"
                                      [ngClass]="{ 'is-invalid': submitted && f.buffComp.errors }"></quill-editor>
      
                        <div *ngIf="submitted && f.buffComp.errors" class="invalid-feedback">
                        <div *ngIf="f.buffComp.errors.required">Enter Complement Items
                          </div>
                        </div>
                      </div>
                  </div>

                  <!-- Buffet is Choosable or Not-->
                  <div class="form">
                      <mat-form-field>
                        <mat-select formControlName="alwToChoose" placeholder="Is Choosable" required>
                          <mat-option *ngFor="let type of isChoosable" [value]="type.value">
                            {{type.viewValue}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="buffetForm.controls['alwToChoose'].hasError('required')">Select Anyone</mat-error>
                      </mat-form-field>
                  </div>
                  
                  <!-- Buffet Cost-->
                  <div class="form">
                      <mat-form-field>
                        <input matInput #input formControlName="buffCost" placeholder="Buffet Cost" required>
                        <mat-error *ngIf="buffetForm.controls['buffCost'].hasError('required')">Enter Buffet Cost</mat-error>
                      </mat-form-field>
                  </div>
  
                  <!-- Buffet Tax-->
                  <div class="form">
                      <mat-form-field>
                        <input matInput #input formControlName="buffTax" placeholder="Buffet Tax (in %)">
                      </mat-form-field>
                  </div>
  
                  <!-- Buffet Discount-->
                  <div class="form">
                      <mat-form-field>
                        <input matInput #input formControlName="discVal" placeholder="Buffet Discount(in %)" >
                      </mat-form-field>
                  </div>
  
                  <!-- Buffet Reservation-->
                  <div class="form">
                      <mat-form-field>
                        <input matInput #input formControlName="reserVal" placeholder="Reservation Cost(in %)">
                      </mat-form-field>
                  </div>
  
                  <!-- Leaf Cost-->
                  <div class="form">
                      <mat-form-field>
                        <input matInput #input formControlName="leafCost" placeholder="Leaf Cost">
                      </mat-form-field>
                  </div>
  
                <div class="form">
                  <mat-form-field>
                    <mat-select formControlName="buffAct" placeholder="Is Active">
                      <mat-option *ngFor="let status of displayStatus" [value]="status.value">
                        {{status.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="buffetForm.controls['buffAct'].hasError('required')">Select Anyone</mat-error>
                 </mat-form-field>
                </div>
                
    
                  <div class="form" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                    <div fxFlex="50" fxFlex.xs="100">
                      <re-captcha formControlName="captcha" [required]="true"></re-captcha>
                      <div *ngIf="submitted && f.captcha.errors" class="invalid-feedback">
                        <div *ngIf="f.captcha.errors.required">Recaptcha requires verification.
                      </div>
                      </div>
                  </div>
    
                  <div fxFlex="50" fxFlex.xs="100" class="action-btn">
                    <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="end center" fxLayoutAlign.sm="space-around center"
                        fxLayoutAlign.xs="space-around center">
                      <button mat-raised-button class="save-btn">Add</button>
                      <button mat-raised-button class="cancel-btn" (click)="goBack()">Exit</button>
                    </div>
                  </div>
                </div>
                </form>
              </div>
            </div>
   </div>
</div>
      
    