<app-breadcrumb class="breadcrumb"></app-breadcrumb>
<div fxLayout="column" class="discount-show-sec components-container">
  <div class="table-header">
    <div class="header-sec">Online Bookings</div>
    </div>
    <div *ngIf="!dataSource">
        <div class="no-content"><mat-icon aria-label="Not Found" style="font-size: 50px">warning</mat-icon></div>
      <div class="no-content">Not Found!!!</div>
    </div>
    <div fxFlex class="table-component-holder mat-elevation-z1" *ngIf="dataSource">
      <div class="table-container">
      <mat-table [dataSource]="dataSource" matSort>

        <!-- Hall Name -->
        <ng-container matColumnDef="dcdeHdr">
          <mat-header-cell *matHeaderCellDef class="width20"> Hall Name</mat-header-cell>
          <mat-cell *matCellDef="let row" class="width20" ngClass.sm="width100" ngClass.xs="width100" data-label="Hall Name: "> {{row.dcdeHdr}}</mat-cell>
        </ng-container>
        
        <!-- Booked Date  -->
        <ng-container matColumnDef="bookedOn">
          <mat-header-cell *matHeaderCellDef class="width10"> Booked On</mat-header-cell>
          <mat-cell *matCellDef="let row" class="width10" ngClass.sm="width100" ngClass.xs="width100" data-label="Booked On: "> {{row.bookedOn}}</mat-cell>
        </ng-container>
        
        <!-- Event Date -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef class="width20"> Event Date</mat-header-cell>
          <mat-cell *matCellDef="let row" class="width20" ngClass.sm="width100" ngClass.xs="width100" data-label="Event Date: "> {{row.muhurtDts}} (to) {{row.endDt}}</mat-cell>
        </ng-container>
        
        <!-- Valid Till Value  -->
        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef class="width20"> Duration</mat-header-cell>
          <mat-cell *matCellDef="let row" class="width20" ngClass.sm="width100" ngClass.xs="width100" data-label="Valid till "> {{row.durName}}</mat-cell>
        </ng-container>
        
        <!-- Status -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef class="width10">Status</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row" class="width10" ngClass.sm="width100" ngClass.xs="width100" data-label="Status: ">{{row.status}}</mat-cell>
          </ng-container>

        <!-- Action -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="width20">Action </mat-header-cell>
          <mat-cell *matCellDef="let row;" class="width10" ngClass.sm="width100" ngClass.xs="width100" data-label="Action: ">
            <span>
              <button mat-icon-button title="View Details"
                      (click)="showDetails(row.prdctDetId, row.txnId, row.bookedOn, row.dcdeHdr, row.muhurtDts, row.endDt, row.evtName, row.durName, row.fdTypName,
                      row.bookTyp, row.rentFinal, row.taxesFinal, row.disAmount, row.reservFinal, row.totalFinal, row.isBlk, row.buffCount, row.buffTar, row.bookedBy)">
                     <mat-icon class="material-icons view-btn">visibility</mat-icon>
              </button>
            </span>  
            <span *ngIf="row.bookedBy.toLowerCase() !== 'venue' && row.status.toLowerCase() !== 'approved'">
              <a mat-icon-button title="Update Status" routerLink="/venue/update-transaction/status/{{row.prdctDetId}}/{{row.txnId}}/{{blockType}}">
              <mat-icon aria-label="Update" class="edit-btn">edit</mat-icon></a>
            </span>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[10, 25]"></mat-paginator>
    </div>
  </div>
</div>

