@import "../../../@theme/styles/variables";
.header-top {
  //height: 35px;
  font-family: $font-family;
  font-size: 12px;
  .item-1 {
    border-right: #e5e5e5 1px solid;
    font-weight: 600;
    color: #556c7e;
    padding-right: 30px;
  }
  .item-2 {
    font-weight: 600;
    color: #5E23DC;
    padding-left: 35px;
  }
  .item-4 {
    .register-btn {
      background-color: #00AA00;
      color: #FFFFFF;
      min-width: 85px;
      line-height: 20px;
      padding: 0 24px;
      border-radius: 42px;
      font-size: 12px !important;
    }
  }
  .item-3{
    font-weight: 600;
    color: #556B7F;
  }
  .item-5 {
    font-weight: 600;
    padding-left: 25px;
    color: #556B7F;
    .phone-icon {
      background-color: #8C37DB;
      border-radius: 50%;
      padding: 3px 4px;
      margin-right: 7px;
      font-size: 10px;
      i {
        color: #FFFFFF;
      }
    }
  }
}

.header-bottom {
  font-family: 'Montserrat', sans-serif;
  background-color: #8C37DB !important;
  height: 48px !important;
  min-height: 48px !important;
  .menu-link{
    cursor: pointer;
  }
  .hd-logo{
    width: 150px;
    margin-top: 6px;
  }
  .center-menu {
    font-size: 13px;
    color: #FFFFFF;
  }
  .signin-link {
    //vertical-align: -webkit-baseline-middle;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  .mobileSignin{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    vertical-align: middle;
    padding-left: 50px;
  }
  .center-menu {
    .nav-menu {
      font-family: 'Montserrat SemiBold', sans-serif;
      font-size: 13px;
      letter-spacing: 0.4px;
      a{
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
  .sidenav-toggle{
    color: #FFFFFF;
  }
}
.sidenav{
  width: 250px;
  padding: 8px 16px;
  position: fixed;
  .close{
    margin-left: 178px;
  }
  .divider{
    margin: 8px 0;
  }
}

.menu-item{
  .mat-button{
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
    &.expanded{
      .menu-expand-icon{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  .mat-button-wrapper{
    padding-left: 16px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hd-logo{
    width: 130px;
    margin-top: 6px;
  }
  .header-top {
    padding: 0 10px;
    font-size: 12px;
    height: 31px;
    font-family: 'Montserrat', sans-serif;
    .item-left {
      min-width: 60%;
      .item-2 {
        margin-left: 0px;
      }
    }
    .item-right {
      min-width: 50%;
    }
  }

}





.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 100%;
  z-index: 5000;
}

.sticky + .content {
  padding-top: 102px;
}
