<div fxLayout="column" class="form-container-sec components-container">
  <app-breadcrumb class="breadcrumb"></app-breadcrumb>
  <div class="form-container"  fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column" fxLayoutAlign="start space-between"
         fxLayoutGap="10px">
        <div fxFlex class="bg-white form-component-holder mat-elevation-z1">

          <div class="container" *ngIf="resultInfo">
            <form [formGroup]="paxCountForm" (ngSubmit)="updateItems()" fxLayout="column" fxFlex="100">
              <div class="table-header">
                <h1 class="mat-headline center-align">Edit Buffet Count</h1>
              </div>

              <div class="form" style="display:none">
                <mat-form-field>
                    <input matInput  formControlName="buffId" placeholder="ID" [(ngModel)]="resultInfo.buffId">
                </mat-form-field>
              </div>
                
              <!-- Hall Name -->
              <div class="form">
                <mat-form-field>
                  <mat-select formControlName="subPrdctDetId" placeholder="Hall Name" [(ngModel)]="resultInfo.subPrdctDetId" required>
                    <mat-option *ngFor="let index of hallInfo" [value]="index.subPrdctDetId">{{index.dcdeHdr}} </mat-option>
                  </mat-select>
                  <mat-error *ngIf="paxCountForm.controls['subPrdctDetId'].hasError('required')">Select Anyone</mat-error>
                </mat-form-field>
              </div>
              <!-- Minimum Pax Count --> 
              <div class="form">
                <mat-form-field>
                  <input matInput #input formControlName="buffCount" placeholder="Minimum Pax" [(ngModel)]="resultInfo.buffCount" required>
                  <mat-error *ngIf="paxCountForm.controls['buffCount'].hasError('required')">Enter Minimum Count</mat-error>
                </mat-form-field>
              </div>

              <!-- Maximum Pax Count --> 
              <div class="form">
                <mat-form-field>
                  <input matInput #input formControlName="buffMax" placeholder="Maximum Pax" [(ngModel)]="resultInfo.buffMax" required>
                  <mat-error *ngIf="paxCountForm.controls['buffMax'].hasError('required')">Enter Maximum Count</mat-error>
                </mat-form-field>
              </div>

              <div class="form" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <div fxFlex="50" fxFlex.xs="100">
                  <re-captcha formControlName="captcha" [required]="true"></re-captcha>
                  <div *ngIf="submitted && f.captcha.errors" class="invalid-feedback">
                    <div *ngIf="f.captcha.errors.required">Recaptcha requires verification.
                  </div>
                  </div>
              </div>

              <div fxFlex="50" fxFlex.xs="100" class="action-btn">
                <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="end center" fxLayoutAlign.sm="space-around center"
                    fxLayoutAlign.xs="space-around center">
                  <button mat-raised-button class="save-btn">Update</button>
                  <button mat-raised-button class="cancel-btn" (click)="goBack()">Cancel</button>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
  </div>
</div>
  
