<div class="search-menu">
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="6px">
    <div class="banner-menu"><a routerLink="/marriage-halls" [routerLinkActive]="'active_menu'">MARRIAGE HALLS</a>
    </div>

    <div class="banner-menu"><a routerLink="/mini-halls" [routerLinkActive]="'active_menu'">MINI HALLS</a>
    </div>
    <div class="banner-menu"><a routerLink="/banquet-halls" [routerLinkActive]="'active_menu'">BANQUET HALLS</a>
    </div>
    <div class="banner-menu"><a routerLink="/party-halls" [routerLinkActive]="'active_menu'">PARTY HALLS</a>
    </div>
  </div>
</div>
