<div fxLayout="column" class="form-container-sec components-container">
  <app-breadcrumb class="breadcrumb"></app-breadcrumb>
  <div class="form-container" fxLayout="row" fxLayout.sm="column" fxLayout.lt-sm="column"
       fxLayoutAlign="start space-between"
       fxLayoutGap="10px">
    <div fxFlex class="bg-white form-component-holder mat-elevation-z1">
      <form [formGroup]="galleryForm" (ngSubmit)="onUpload()" fxLayout="column" fxFlex="100">

        <div class="container">
          <div class="table-header">
            <h3 class="center-align">Image Upload</h3>
          </div>

          <div class="form" style="padding-top: 30px">
            <input #file type="file" formControlName="image" accept='image/*' (change)="onFileSelected($event)" />
            <span style="color:red;" *ngIf="message">{{message}}</span>
          </div>
          <div class="preview-image" *ngIf="imgURL">
            <img [src]="imgURL" height="200">
          </div>


          <div class="form" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

            <div fxFlex="50" fxFlex.xs="100">
              <!--<re-captcha formControlName="captcha" [required]="true"></re-captcha>-->
              <!--<div *ngIf="submitted && f.captcha.errors" class="invalid-feedback">-->
                <!--<div *ngIf="f.captcha.errors.required">Recaptcha requires verification.-->
                <!--</div>-->
              <!--</div>-->
            </div>


            <div fxFlex="50" fxFlex.xs="100" class="action-btn">
              <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="end center" fxLayoutAlign.sm="space-around center"
                   fxLayoutAlign.xs="space-around center">
                <button mat-raised-button class="save-btn">Update</button>
                <button mat-raised-button class="cancel-btn" (click)="goBack()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

