<app-breadcrumb class="breadcrumb"></app-breadcrumb>
<div fxLayout="column" class="discount-show-sec components-container">
  <div class="table-header">
    <div class="header-sec">Venue Discount</div>

    <div fxLayout="row" fxLayoutAlign="end end">
      <div fxFlex="70" class="table-search-field">
        <mat-form-field>
          <input class="search-field" matInput (keyup)="applyFilter($event.target.value)"
                 placeholder="Search by Description" autocomplete="off">
        </mat-form-field>
      </div>
      <div fxFlex="30">
      <span>
        <button class="add-new-btn" mat-flat-button routerLink="/venue/discount/create">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          Add New
        </button>
      </span>
      </div>
    </div>

    <button class="mine m-addbtn" mat-mini-fab routerLink="/venue/discount/create">
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
    </button>
  </div>
  <div fxFlex class="table-component-holder mat-elevation-z1">
        <div class="table-container">
      <mat-table [dataSource]="dataSource" matSort>

        <!-- Hall Name -->
        <ng-container matColumnDef="dcdeHdr">
          <mat-header-cell *matHeaderCellDef class="width20"> Hall Name</mat-header-cell>
          <mat-cell *matCellDef="let row" class="width20" ngClass.sm="width100" ngClass.xs="width100" data-label="Hall Name: "> {{row.dcdeHdr}}</mat-cell>
        </ng-container>
        
        <!-- Discount Value  -->
        <ng-container matColumnDef="disAmount">
          <mat-header-cell *matHeaderCellDef class="width20"> Discount (in %)</mat-header-cell>
          <mat-cell *matCellDef="let row" class="width20" ngClass.sm="width100" ngClass.xs="width100" data-label="Discount Value "> {{row.disAmount}}</mat-cell>
        </ng-container>
        
        <!-- Buffet Maximum Count  -->
        <ng-container matColumnDef="discMuhurt">
          <mat-header-cell *matHeaderCellDef class="width30"> Discount For </mat-header-cell>
          <mat-cell *matCellDef="let row" class="width30" ngClass.sm="width100" ngClass.xs="width100" data-label="Discount For ">
              <span *ngIf="row.discMuhurt == 0;">Non-Muhurtham Days</span> 
              <span *ngIf="row.discMuhurt == 1">Muhurtham Day</span>
              <span *ngIf="row.discMuhurt == 2;">Super Day</span>
          </mat-cell>
        </ng-container>
        
        <!-- Valid Till Value  -->
        <ng-container matColumnDef="blkEdDt">
          <mat-header-cell *matHeaderCellDef class="width10"> valid till</mat-header-cell>
          <mat-cell *matCellDef="let row" class="width10" ngClass.sm="width100" ngClass.xs="width100" data-label="Valid till "> {{row.blkEdDt}}</mat-cell>
        </ng-container>
        
        <!-- Status -->
        <ng-container matColumnDef="discAct">
            <mat-header-cell *matHeaderCellDef class="width10">Status</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row" class="width10" ngClass.sm="width100" ngClass.xs="width100" data-label="Status: ">
              <span *ngIf="row.discAct === 1;">
                  <span style="color: green">Active</span>
                </span>
              <span *ngIf="row.discAct !== 1;">
                  <span style="color: #FE0000">De-active</span>
                </span>
            </mat-cell>
          </ng-container>

        <!-- Action -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef class="width10">Action </mat-header-cell>
          <mat-cell *matCellDef="let row;" class="width10" ngClass.sm="width100" ngClass.xs="width100" data-label="Action: ">
              <span>
                <a mat-icon-button routerLink="/venue/discount/edit/{{row.prdctDetId}}/{{row.discId}}">
              <mat-icon aria-label="Edit" class="edit-btn">edit</mat-icon>
            </a>
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
    </div>
  </div>
</div>

